@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scrollbar-color: #040a0f #202b38;
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #161f27;
}

::-webkit-scrollbar-thumb {
	background: #040a0f;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 0, 0);
}

.background {
	background: linear-gradient(
			135deg,
			#0f2333 21px,
			#d9ecff10 22px,
			#d9ecff10 24px,
			transparent 24px,
			transparent 67px,
			#d9ecff10 67px,
			#d9ecff10 69px,
			transparent 69px
		),
		linear-gradient(
				225deg,
				#0f2333 21px,
				#d9ecff10 22px,
				#d9ecff10 24px,
				transparent 24px,
				transparent 67px,
				#d9ecff10 67px,
				#d9ecff10 69px,
				transparent 69px
			)
			0 64px;
	background-color: #0f2333;
	background-size: 64px 128px;
}
